<%- include('header') -%>
<div class="box">
   <div class="box" id="heading">
       <h1>About Me</h1>
    </div>
    <img src="https://lh3.googleusercontent.com/a/AEdFTp6VO0oe5eBf_A_S9pApfUmjWNYyAFOvI7lpnNq7ow=s288-p-rw-no" alt="" srcset="">
    <p>Hey ! , I'm Rishabh Yadav and I am a computer science student at Rustam ji Institute of Technology, BSF Academy Tekanpur , currently pursuing my B.Tech. degree. I am a proficient Java programmer and web developer with a good understanding of frontend web development.</p>
</div>
<%- include("footer") -%>