<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>To Do List</title>
</head>
<body>
   <!-- <% if(day === "a Monday"){ %>
    <h1 style="color : green">Today is <%=day%></h1>
    <%}else{ %>
    <h1 style="color: blue;">Today is <%=day%></h1>
    <% } %> -->
    <div class="box" id="heading">
        <h1><%=day%></h1>
    </div>
    <div class="box">
        <div class="item">
            <!-- <center> -->
                <p class="first">꧁🚩जयश्री राम🚩꧂</p>
            <!-- </center>/ -->
        </div>
        <%newtask.forEach((item)=>{%>
            <div class="item">
            <input type="checkbox" name="check" >
            
                <p><%=item%></p>
                
            </div>
            
            
            <%});%>
            <div class="item">
                
                <form action="/" method="post">
                    <input type="text" name="task" id="task" placeholder="Enter your task" >
                    <!-- <button class="btndel" name="delete" type="submit" value="1" >x</button> -->
                    <button type="submit">+</button>
                </form>
        </div>
    </div>
    
</body>
</html>